# Virtual environment
.venv/
env/
venv/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit session state & logs
.streamlit/

# OS junk files
.DS_Store
.idea/
.vscode/

# Project-specific
pic_bed/
weights/
